/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
/* Custom slow spin animation */
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite; /* Adjust the time to your desired speed */
}
body {
  font-family: 'Poppins', sans-serif;
}
